{% extends 'base.html.twig' %}

{% block body  %}
    <body style="background-color: lightcyan">
    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
        <script>
            $(function(){
                $("#example").dataTable();
            });
        </script>
    {% endblock %}
    <form action="{{ path("edit_package_detail") }}" enctype="multipart/form-data" method="post">
        <div class="modal-body">
            <div class="container">
                <br />
                <br />
                <div class="form-group">
                    <div class="form-group">
                        <label for="package_name">Package Id</label>
                        <input type="text" class="form-control" id="package_id" name="package_id" value="{{ package.getId() }}" aria-describedby="emailHelp" placeholder="Enter package name" required>
                    </div>
                    <div class="form-group">
                        <label for="package_name">Package Name</label>
                        <input type="text" class="form-control" id="package_name" name="package_name" value="{{ package.getName() }}" aria-describedby="emailHelp" placeholder="Enter package name" required>
                    </div>
                    <div class="form-group">
                        <label for="package_description">Package Description</label>
                        <input type="text" class="form-control" id="package_description" name="package_description" value="{{ package.getDescription() }}" placeholder="Enter package description" required>
                    </div>
                    <div class="form-group">
                        <label for="package_image">Package Image</label>
                        <input type="file" id="package_image" name="package_image" class="fileUpload" required>
                    </div>
                    <div class="form-group">
                        <label for="package_price">Package Price ($)</label>
                        <label for="text"></label><input type="text" class="form-control" id="package_price" value="{{ package.getPrice() }}" name="package_price" placeholder="Enter package price ($)" required/>
                    </div>
                    <label for="course_package">Package Type (course | creation) </label>
                    <label for="package_type"></label><input type="text" class="form-control" id="package_type" value="{{ package.getCourseType() }}" name="package_type" placeholder="Enter package type (course | creation)" required/>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <div class="cancel-data-btn" id="btn-dif-share-client">
                <button type="button" class="btn btn-outline-danger invite-client-btn" data-dismiss="modal">Cancel</button>
            </div>
            <button type="submit" class="btn btn-primary" id="edit_package">Edit Package</button>
        </div>
    </form>
    </body>


{% endblock %}
