<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light  ">
    <a class="navbar-brand" href="/accueil"><img src="{{ asset('imgs/logo/logo2') }}" id="logo" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- navbar primary -->
        <ul class="navbar-nav" id="nav-primaire">
            <a class="nav-link" href="/accueil#package-creation">Créons Votre site</a>
            <a class="nav-link" href="/accueil#package-cours">Apprenez à Coder</a>
            <a class="nav-link" href="/contact">Contactez Nous</a>
            <a class="nav-link" href="/accueil#qui-sommes-nous">Qui sommes Nous?</a>
        </ul>
        <!-- fin de navbar primary -->

        <!-- navbar avec cart et profil -->

        <!-- pour la page admin -->
        <ul class="navbar-nav ml-auto d-flex navbar-fixed-bottom" id="nav-secondaire">
            <li class="nav-item d-flex" id="admin">
                <a href="{{ path('manage_packages') }}" class="nav-link">
                    <i class="fas fa-users-cog"></i>
                    Manage Packages
                </a>
            </li>

            <li class="nav-item d-flex" id="admin">
                <a href="/add" class="nav-link"><i class="fas fa-users-cog"></i> Admin </a>
            </li>

            <!-- pour connexion/déconnexion -->
            <li class="nav-item">
                <a href="{{asset('/inscription') }}" class="nav-link">
                    <i class="fas fa-user"></i> Login/Register
                </a>
            </li>
            <!-- pour la cart  -->
            <li class="nav-item">
                <a href="{{ asset('/panier') }}" class="nav-link">
                    <span class="badge badge-pill red">1</span>
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>

            <!-- pour le profil -->
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset('imgs/img-avatar.png') }}" class="rounded-circle z-depth-0"
                         alt="avatar image">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                     aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="{{ asset('/profile') }}">Voir Profil</a>
                    <a class="dropdown-item" href="#">Déconnexion</a>
                </div>
            </li>
        </ul>
        <!-- fin de navbar avec cart et profil -->
    </div>
</nav>